<div class="preview">
<h1>{{'article.preview.introduction'|trans}}</h1>
{{xi_article_block_introduction_preview(block)}}

<h1>{{'article.preview.content'|trans}}</h1>
{{xi_article_block_content_preview(block)}} 
</div>