{% block content %}
    <article class="article-full" >

            {% if (is_granted(editRoles))%}
                <div class="tools">
                    <span class="edit ui-icon ui-icon-pencil">
                        <a href="{{ path('xi_article_article_edit', {'id': article.id }) }}" title="{{ 'article.edit'|trans }}"></a>
                    </span>
                </div>
            {% endif %}

        <div class="article-content">
            {{article.content | raw}}   
        </div>

    </article>

{% endblock %}